

.custom-navbar {
  position: fixed;
  top: -6.5rem;
  left: 0;
  font-family: 'Futura' Condensed Medium;
  text-shadow: 0 2px 0 var(--retro-cream), 0 0px 20px var(--retro-blue);
  width: 100%;
  height: 150px;
  z-index: 2;
  &::after {
    content:'';
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%, #ffecb400 70%, var(--retro-blue) 100%), url(../img/bg-trees-navbar.png);
    background-size: cover;
    background-position: 100% 60%;
    background-repeat: no-repeat;
    opacity: 0.95;
    filter: drop-shadow(0 5px 10px var(--retro-blue));
  }
  &:before {
    box-shadow: inset 0 -5px 10px 0 var(--retro-blue);
    mix-blend-mode: overlay;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
  .nav-logo {
    position: relative;
    top: 3.5rem;
    left: 1rem;
    width: 100px;
    z-index: 2;
  }
}
button, a {
  text-decoration: none;
  color: var(--retro-brown);
  outline: 0 !important;
  border: 0 !important;
  height: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.get-started {
  color: var(--shadow-retro-cream);
  background: linear-gradient(135deg, var(--retro-brown) 90%, var(--shadow-retro-cream));
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 5px 10px 0 var(--retro-blue);
  outline: 3px solid var(--shadow-retro-cream) !important;
  cursor: pointer;
  z-index: 3;
  &:hover {
    color: var(--retro-blue);
    transition: color 0.5s;
  }
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  nav {
    max-width: 100%;
    #navbarText > ul > li > a:nth-child(2):hover {
      background: linear-gradient(transparent 0%, #ffecb400 70%, #ffecb490 100%);
    }
    button, a {
      all: unset !important;
    }
    .desktop-links {
      display: none !important;
      visibility: hidden !important;
    }
    .navbar-toggler-icon {
      position: absolute;
      top: 7.5rem;
      right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      color: var(--retro-brown);
      z-index: 1000 !important;
    }
    .navbar-collapse {
      right: 0;
      position: absolute;
    }
    ul {
      position: relative;
      top: 11.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      background: linear-gradient(transparent 0%, #ffecb400 70%, #ffecb490 100%), url(../img/bg-trees-navbar.png);
      background-size: cover;
      background-position: 100% 60%;
      background-repeat: no-repeat;
      opacity: 0.85;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      box-shadow: inset 0 5px 10px 0 var(--retro-blue);
    }
    li {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
